# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [1]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'D:\\dataimport\\'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [2]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [4]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [5]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [5]:
df[int_features].max()

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [8]:
np.unique(df[int_features])

array([0, 1, 2, 3, 4, 5, 6, 8, 9], dtype=int64)

In [11]:
df[float_features].mean()

Age     29.881138
Fare    33.295479
dtype: float64

In [12]:
df[float_features].max()

Age      80.0000
Fare    512.3292
dtype: float64

In [14]:
np.unique(df[float_features])

array([0.000000e+00, 1.700000e-01, 3.300000e-01, 4.200000e-01,
       6.700000e-01, 7.500000e-01, 8.300000e-01, 9.200000e-01,
       1.000000e+00, 2.000000e+00, 3.000000e+00, 3.170800e+00,
       4.000000e+00, 4.012500e+00, 5.000000e+00, 6.000000e+00,
       6.237500e+00, 6.437500e+00, 6.450000e+00, 6.495800e+00,
       6.750000e+00, 6.858300e+00, 6.950000e+00, 6.975000e+00,
       7.000000e+00, 7.045800e+00, 7.050000e+00, 7.054200e+00,
       7.125000e+00, 7.141700e+00, 7.225000e+00, 7.229200e+00,
       7.250000e+00, 7.283300e+00, 7.312500e+00, 7.495800e+00,
       7.520800e+00, 7.550000e+00, 7.575000e+00, 7.579200e+00,
       7.629200e+00, 7.650000e+00, 7.720800e+00, 7.725000e+00,
       7.729200e+00, 7.733300e+00, 7.737500e+00, 7.741700e+00,
       7.750000e+00, 7.775000e+00, 7.779200e+00, 7.787500e+00,
       7.795800e+00, 7.800000e+00, 7.820800e+00, 7.829200e+00,
       7.850000e+00, 7.854200e+00, 7.875000e+00, 7.879200e+00,
       7.887500e+00, 7.895800e+00, 7.925000e+00, 8.000000e+00,
       8.029200e+00, 8.050000e+00, 8.112500e+00, 8.137500e+00,
       8.158300e+00, 8.300000e+00, 8.362500e+00, 8.404200e+00,
       8.433300e+00, 8.458300e+00, 8.516700e+00, 8.654200e+00,
       8.662500e+00, 8.683300e+00, 8.712500e+00, 8.850000e+00,
       8.962500e+00, 9.000000e+00, 9.216700e+00, 9.225000e+00,
       9.325000e+00, 9.350000e+00, 9.475000e+00, 9.483300e+00,
       9.500000e+00, 9.587500e+00, 9.687500e+00, 9.825000e+00,
       9.837500e+00, 9.841700e+00, 9.845800e+00, 1.000000e+01,
       1.017080e+01, 1.046250e+01, 1.050000e+01, 1.051670e+01,
       1.070830e+01, 1.100000e+01, 1.113330e+01, 1.124170e+01,
       1.150000e+01, 1.200000e+01, 1.218330e+01, 1.227500e+01,
       1.228750e+01, 1.235000e+01, 1.247500e+01, 1.252500e+01,
       1.265000e+01, 1.273750e+01, 1.287500e+01, 1.300000e+01,
       1.341670e+01, 1.350000e+01, 1.377500e+01, 1.379170e+01,
       1.385830e+01, 1.386250e+01, 1.390000e+01, 1.400000e+01,
       1.410830e+01, 1.440000e+01, 1.445420e+01, 1.445830e+01,
       1.450000e+01, 1.500000e+01, 1.503330e+01, 1.504580e+01,
       1.505000e+01, 1.510000e+01, 1.524580e+01, 1.550000e+01,
       1.555000e+01, 1.557920e+01, 1.574170e+01, 1.575000e+01,
       1.585000e+01, 1.590000e+01, 1.600000e+01, 1.610000e+01,
       1.670000e+01, 1.700000e+01, 1.740000e+01, 1.780000e+01,
       1.800000e+01, 1.850000e+01, 1.875000e+01, 1.878750e+01,
       1.900000e+01, 1.925830e+01, 1.950000e+01, 1.996670e+01,
       2.000000e+01, 2.021250e+01, 2.025000e+01, 2.050000e+01,
       2.052500e+01, 2.057500e+01, 2.100000e+01, 2.107500e+01,
       2.167920e+01, 2.200000e+01, 2.202500e+01, 2.235830e+01,
       2.250000e+01, 2.252500e+01, 2.300000e+01, 2.325000e+01,
       2.345000e+01, 2.350000e+01, 2.400000e+01, 2.415000e+01,
       2.450000e+01, 2.500000e+01, 2.546670e+01, 2.558750e+01,
       2.570000e+01, 2.574170e+01, 2.592500e+01, 2.592920e+01,
       2.600000e+01, 2.625000e+01, 2.628330e+01, 2.628750e+01,
       2.638750e+01, 2.650000e+01, 2.655000e+01, 2.700000e+01,
       2.744580e+01, 2.772080e+01, 2.775000e+01, 2.790000e+01,
       2.800000e+01, 2.850000e+01, 2.853750e+01, 2.871250e+01,
       2.900000e+01, 2.912500e+01, 2.970000e+01, 3.000000e+01,
       3.007080e+01, 3.050000e+01, 3.069580e+01, 3.100000e+01,
       3.127500e+01, 3.138750e+01, 3.150000e+01, 3.167920e+01,
       3.168330e+01, 3.200000e+01, 3.232080e+01, 3.250000e+01,
       3.300000e+01, 3.350000e+01, 3.400000e+01, 3.402080e+01,
       3.437500e+01, 3.450000e+01, 3.465420e+01, 3.500000e+01,
       3.550000e+01, 3.600000e+01, 3.650000e+01, 3.675000e+01,
       3.700000e+01, 3.700420e+01, 3.800000e+01, 3.850000e+01,
       3.900000e+01, 3.940000e+01, 3.960000e+01, 3.968750e+01,
       4.000000e+01, 4.012500e+01, 4.050000e+01, 4.100000e+01,
       4.157920e+01, 4.200000e+01, 4.240000e+01, 4.250000e+01,
       4.300000e+01, 4.400000e+01, 4.500000e+01, 4.550000e+01,
       4.600000e+01, 4.690000e+01, 4.700000e+01, 4.710000e+01,
       4.800000e+01, 4.900000e+01, 4.950000e+01, 4.950420e+01,
       5.000000e+01, 5.049580e+01, 5.100000e+01, 5.147920e+01,
       5.186250e+01, 5.200000e+01, 5.255420e+01, 5.300000e+01,
       5.310000e+01, 5.400000e+01, 5.500000e+01, 5.544170e+01,
       5.550000e+01, 5.590000e+01, 5.600000e+01, 5.649580e+01,
       5.692920e+01, 5.700000e+01, 5.775000e+01, 5.797920e+01,
       5.800000e+01, 5.900000e+01, 5.940000e+01, 6.000000e+01,
       6.050000e+01, 6.100000e+01, 6.117500e+01, 6.137920e+01,
       6.197920e+01, 6.200000e+01, 6.300000e+01, 6.335830e+01,
       6.400000e+01, 6.500000e+01, 6.600000e+01, 6.660000e+01,
       6.700000e+01, 6.930000e+01, 6.955000e+01, 7.000000e+01,
       7.050000e+01, 7.100000e+01, 7.128330e+01, 7.350000e+01,
       7.400000e+01, 7.524170e+01, 7.525000e+01, 7.600000e+01,
       7.629170e+01, 7.672920e+01, 7.728750e+01, 7.795830e+01,
       7.826670e+01, 7.885000e+01, 7.920000e+01, 7.965000e+01,
       8.000000e+01, 8.185830e+01, 8.217080e+01, 8.226670e+01,
       8.315830e+01, 8.347500e+01, 8.650000e+01, 8.910420e+01,
       9.000000e+01, 9.107920e+01, 9.350000e+01, 1.064250e+02,
       1.089000e+02, 1.108833e+02, 1.132750e+02, 1.200000e+02,
       1.336500e+02, 1.345000e+02, 1.356333e+02, 1.367792e+02,
       1.465208e+02, 1.515500e+02, 1.534625e+02, 1.648667e+02,
       2.113375e+02, 2.115000e+02, 2.217792e+02, 2.275250e+02,
       2.475208e+02, 2.623750e+02, 2.630000e+02, 5.123292e+02,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan,
                nan,          nan,          nan,          nan])

In [15]:
df[object_features].mean()

Series([], dtype: float64)

In [16]:
df[object_features].max()

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [18]:
df[object_features]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
5,"Moran, Mr. James",male,330877,NaN,Q
6,"McCarthy, Mr. Timothy J",male,17463,E46,S
7,"Palsson, Master. Gosta Leonard",male,349909,NaN,S
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,NaN,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,NaN,C
10,"Sandstrom, Miss. Marguerite Rut",female,PP 9549,G6,S
11,"Bonnell, Miss. Elizabeth",female,113783,C103,S
12,"Saundercock, Mr. William Henry",male,A/5. 2151,NaN,S
13,"Andersson, Mr. Anders Johan",male,347082,NaN,S
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406,NaN,S
15,"Hewlett, Mrs. (Mary D Kingcome)",female,248706,NaN,S
16,"Rice, Master. Eugene",male,382652,NaN,Q
17,"Williams, Mr. Charles Eugene",male,244373,NaN,S
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763,NaN,S
19,"Masselmani, Mrs. Fatima",female,2649,NaN,C
20,"Fynney, Mr. Joseph J",male,239865,NaN,S
21,"Beesley, Mr. Lawrence",male,248698,D56,S
22,"McGowan, Miss. Anna ""Annie""",female,330923,NaN,Q
23,"Sloper, Mr. William Thompson",male,113788,A6,S
24,"Palsson, Miss. Torborg Danira",female,349909,NaN,S
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,347077,NaN,S
26,"Emir, Mr. Farred Chehab",male,2631,NaN,C
27,"Fortune, Mr. Charles Alexander",male,19950,C23 C25 C27,S
28,"O'Dwyer, Miss. Ellen ""Nellie""",female,330959,NaN,Q
29,"Todoroff, Mr. Lalio",male,349216,NaN,S
...,...,...,...,...,...
388,"Canavan, Mr. Patrick",male,364858,NaN,Q
389,"Palsson, Master. Paul Folke",male,349909,NaN,S
390,"Payne, Mr. Vivian Ponsonby",male,12749,B24,S
391,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,PC 17592,D28,S
392,"Abbott, Master. Eugene Joseph",male,C.A. 2673,NaN,S
393,"Gilbert, Mr. William",male,C.A. 30769,NaN,S
394,"Kink-Heilmann, Mr. Anton",male,315153,NaN,S
395,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,13695,C31,S
396,"Colbert, Mr. Patrick",male,371109,NaN,Q
397,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,13567,B41,C
398,"Larsson-Rondberg, Mr. Edvard A",male,347065,NaN,S
399,"Conlon, Mr. Thomas Henry",male,21332,NaN,Q
400,"Bonnell, Miss. Caroline",female,36928,C7,S
401,"Gale, Mr. Harry",male,28664,NaN,S
402,"Gibson, Miss. Dorothy Winifred",female,112378,NaN,C
403,"Carrau, Mr. Jose Pedro",male,113059,NaN,S
404,"Frauenthal, Mr. Isaac Gerald",male,17765,D40,C
405,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,SC/PARIS 2166,D38,C
406,"Ware, Mr. William Jeffery",male,28666,NaN,S
407,"Widener, Mr. George Dunton",male,113503,C80,C
408,"Riordan, Miss. Johanna Hannah""""",female,334915,NaN,Q
409,"Peacock, Miss. Treasteall",female,SOTON/O.Q. 3101315,NaN,S
410,"Naughton, Miss. Hannah",female,365237,NaN,Q
411,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,19928,C78,Q
412,"Henriksson, Miss. Jenny Lovisa",female,347086,NaN,S
413,"Spector, Mr. Woolf",male,A.5. 3236,NaN,S
414,"Oliva y Ocana, Dona. Fermina",female,PC 17758,C105,C
415,"Saether, Mr. Simon Sivertsen",male,SOTON/O.Q. 3101262,NaN,S
416,"Ware, Mr. Frederick",male,359309,NaN,S
417,"Peter, Master. Michael J",male,2668,NaN,C

In [22]:
np.unique(df[object_features])  ### Type Error occurs due to incosistent type.

TypeError: '<' not supported between instances of 'float' and 'str'

In [23]:
df[object_features].columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [25]:
np.unique(df[object_features].Name)

array(['Abbing, Mr. Anthony', 'Abbott, Master. Eugene Joseph',
       'Abbott, Mr. Rossmore Edward', ...,
       'van Billiard, Master. Walter John',
       'van Billiard, Mr. Austin Blyler', 'van Melkebeke, Mr. Philemon'],
      dtype=object)

In [26]:
np.unique(df[object_features].Sex)

array(['female', 'male'], dtype=object)

In [27]:
np.unique(df[object_features].Ticket)

array(['110152', '110413', '110465', '110469', '110489', '110564',
       '110813', '111163', '111240', '111320', '111361', '111369',
       '111426', '111427', '111428', '112050', '112051', '112052',
       '112053', '112058', '112059', '112277', '112377', '112378',
       '112379', '112901', '113028', '113038', '113043', '113044',
       '113050', '113051', '113054', '113055', '113056', '113059',
       '113501', '113503', '113505', '113509', '113510', '113514',
       '113572', '113760', '113767', '113773', '113776', '113778',
       '113780', '113781', '113783', '113784', '113786', '113787',
       '113788', '113789', '113790', '113791', '113792', '113794',
       '113795', '113796', '113798', '113800', '113801', '113803',
       '113804', '113806', '113807', '11668', '11751', '11752', '11753',
       '11755', '11765', '11767', '11769', '11770', '11771', '11774',
       '11778', '11813', '11967', '1222', '12233', '12460', '12749',
       '13049', '13050', '13213', '13214', '13236', '13502', '13507',
       '13508', '13509', '13567', '13568', '13695', '13905', '14311',
       '14312', '14313', '14973', '1601', '16966', '16988', '17421',
       '17453', '17463', '17464', '17465', '17466', '17474', '17475',
       '17764', '17765', '17770', '19877', '19924', '19928', '19943',
       '19947', '19950', '19952', '19972', '19988', '19996', '2003',
       '211535', '211536', '21228', '21332', '21440', '218629', '219533',
       '220367', '220844', '220845', '2223', '223596', '226593', '226875',
       '228414', '229236', '230080', '230136', '230433', '230434',
       '231919', '231945', '233478', '233639', '233734', '233866',
       '234360', '234604', '234686', '234818', '235509', '236171',
       '236852', '236853', '236854', '237216', '237249', '237393',
       '237442', '237565', '237668', '237670', '237671', '237734',
       '237735', '237736', '237789', '237798', '239059', '239853',
       '239854', '239855', '239856', '239865', '240261', '240276',
       '24065', '240929', '24160', '242963', '243847', '243880', '244252',
       '244270', '244278', '244310', '244346', '244358', '244360',
       '244361', '244367', '244368', '244373', '248659', '248698',
       '248706', '248723', '248726', '248727', '248731', '248733',
       '248734', '248738', '248740', '248744', '248746', '248747',
       '250643', '250644', '250646', '250647', '250648', '250649',
       '250650', '250651', '250652', '250653', '250655', '2543', '2620',
       '2621', '2622', '2623', '2624', '2625', '2626', '2627', '2628',
       '2629', '2631', '26360', '2641', '2647', '2648', '2649', '2650',
       '2651', '2652', '2653', '2654', '2655', '2656', '2657', '2658',
       '2659', '2660', '2661', '2662', '2663', '2664', '2665', '2666',
       '2667', '2668', '2669', '2670', '26707', '2671', '2672', '2673',
       '2674', '2675', '2676', '2677', '2678', '2679', '2680', '2681',
       '2682', '2683', '2684', '2685', '2686', '2687', '2688', '2689',
       '2690', '2691', '2692', '2693', '2694', '2695', '2696', '2697',
       '2698', '2699', '2700', '27042', '27267', '27849', '28004',
       '28034', '28133', '28134', '28206', '28213', '28220', '28221',
       '28228', '28403', '28404', '28424', '28425', '28551', '28664',
       '28665', '28666', '29011', '2908', '29103', '29104', '29105',
       '29106', '29107', '29108', '2926', '29750', '29751', '3101264',
       '3101265', '3101266', '3101267', '3101276', '3101277', '3101278',
       '3101281', '3101295', '3101296', '3101297', '3101298', '31027',
       '31028', '312991', '312992', '312993', '31418', '315037', '315082',
       '315083', '315084', '315085', '315086', '315087', '315088',
       '315089', '315090', '315091', '315092', '315093', '315094',
       '315095', '315096', '315097', '315098', '315151', '315152',
       '315153', '315154', '32302', '323592', '323951', '324669',
       '329944', '330844', '330877', '330909', '330910', '330911',
       '330919', '330920', '330923', '330924', '330931', '330932',
       '330935', '330958', '330959', '330963', '330968', '330971',
       '330972', '330979', '330980', '334912', '334914', '334915',
       '335097', '335432', '335677', '33638', '336439', '3410', '3411',
       '341826', '34218', '342441', '342684', '342712', '342826',
       '343095', '343120', '343271', '343275', '343276', '345364',
       '345498', '345501', '345572', '345763', '345764', '345765',
       '345767', '345768', '345769', '345770', '345771', '345773',
       '345774', '345775', '345777', '345778', '345779', '345780',
       '345781', '345783', '3460', '3470', '347054', '347060', '347061',
       '347062', '347063', '347064', '347065', '347066', '347067',
       '347068', '347069', '347070', '347071', '347072', '347073',
       '347074', '347075', '347076', '347077', '347078', '347079',
       '347080', '347081', '347082', '347083', '347085', '347086',
       '347087', '347088', '347089', '347090', '347091', '3474', '347464',
       '347465', '347466', '347467', '347468', '347469', '347470',
       '347471', '347742', '347743', '348121', '348122', '348123',
       '348124', '348125', '349201', '349202', '349203', '349204',
       '349205', '349206', '349207', '349208', '349209', '349210',
       '349211', '349212', '349213', '349214', '349215', '349216',
       '349217', '349218', '349219', '349220', '349221', '349222',
       '349223', '349224', '349225', '349226', '349227', '349228',
       '349229', '349230', '349231', '349232', '349233', '349234',
       '349235', '349236', '349237', '349238', '349239', '349240',
       '349241', '349242', '349243', '349244', '349245', '349246',
       '349247', '349248', '349249', '349250', '349251', '349252',
       '349253', '349254', '349255', '349256', '349257', '349909',
       '349910', '349911', '349912', '350025', '350026', '350029',
       '350033', '350034', '350035', '350036', '350042', '350043',
       '350045', '350046', '350047', '350048', '350050', '350052',
       '350053', '350054', '350060', '350403', '350404', '350405',
       '350406', '350407', '350408', '350409', '350410', '350416',
       '350417', '35273', '35281', '35851', '35852', '358585', '359306',
       '359309', '36209', '362316', '363272', '363291', '363294',
       '363592', '363611', '364498', '364499', '364500', '364506',
       '364511', '364512', '364516', '364846', '364848', '364849',
       '364850', '364851', '364856', '364858', '364859', '365222',
       '365226', '365235', '365237', '36568', '366713', '367226',
       '367227', '367228', '367229', '367230', '367231', '367232',
       '367655', '368323', '368364', '368402', '368573', '36864', '36865',
       '36866', '368702', '368703', '368783', '36928', '36947', '36963',
       '36967', '36973', '3701', '370129', '370365', '370368', '370369',
       '370370', '370371', '370372', '370373', '370374', '370375',
       '370376', '370377', '371060', '371109', '371110', '371362',
       '372622', '373450', '374746', '374887', '374910', '376563',
       '376564', '376566', '382649', '382650', '382651', '382652',
       '382653', '383121', '383123', '383162', '384461', '386525',
       '392091', '392092', '392095', '392096', '394140', '4133', '4134',
       '4135', '4136', '4137', '4138', '4579', '54636', '5727', '65303',
       '65304', '65305', '65306', '6563', '680', '693', '694', '695',
       '7266', '7267', '7534', '7538', '7540', '7545', '7546', '7548',
       '7552', '7553', '7598', '7935', '8471', '8475', '9232', '9234',
       'A. 2. 39186', 'A./5. 2152', 'A./5. 3235', 'A./5. 3338',
       'A.5. 11206', 'A.5. 18509', 'A.5. 3236', 'A/4 31416', 'A/4 45380',
       'A/4 48871', 'A/4 48873', 'A/4. 20589', 'A/4. 34244', 'A/4. 39886',
       'A/5 1478', 'A/5 21171', 'A/5 21172', 'A/5 21173', 'A/5 21174',
       'A/5 21175', 'A/5 2466', 'A/5 2817', 'A/5 3536', 'A/5 3540',
       'A/5 3594', 'A/5 3902', 'A/5. 10482', 'A/5. 13032', 'A/5. 2151',
       'A/5. 3336', 'A/5. 3337', 'A/5. 851', 'A/S 2816', 'A4. 54510',
       'AQ/3. 30631', 'AQ/4 3130', 'C 17368', 'C 17369', 'C 4001',
       'C 7075', 'C 7076', 'C 7077', 'C.A. 15185', 'C.A. 17248',
       'C.A. 18723', 'C.A. 2315', 'C.A. 24579', 'C.A. 24580', 'C.A. 2673',
       'C.A. 29178', 'C.A. 29395', 'C.A. 29566', 'C.A. 30769',
       'C.A. 31026', 'C.A. 31029', 'C.A. 31030', 'C.A. 31921',
       'C.A. 33111', 'C.A. 33112', 'C.A. 33595', 'C.A. 34050',
       'C.A. 34260', 'C.A. 34644', 'C.A. 34651', 'C.A. 37671',
       'C.A. 42795', 'C.A. 49867', 'C.A. 5547', 'C.A. 6212',
       'C.A./SOTON 34068', 'CA 2144', 'CA 31352', 'CA. 2314', 'CA. 2343',
       'F.C. 12750', 'F.C. 12998', 'F.C.C. 13528', 'F.C.C. 13529',
       'F.C.C. 13531', 'F.C.C. 13534', 'F.C.C. 13540', 'Fa 265302',
       'LINE', 'LP 1588', 'P/PP 3381', 'PC 17318', 'PC 17473', 'PC 17474',
       'PC 17475', 'PC 17476', 'PC 17477', 'PC 17482', 'PC 17483',
       'PC 17485', 'PC 17531', 'PC 17558', 'PC 17562', 'PC 17569',
       'PC 17572', 'PC 17580', 'PC 17582', 'PC 17585', 'PC 17590',
       'PC 17591', 'PC 17592', 'PC 17593', 'PC 17594', 'PC 17595',
       'PC 17596', 'PC 17597', 'PC 17598', 'PC 17599', 'PC 17600',
       'PC 17601', 'PC 17603', 'PC 17604', 'PC 17605', 'PC 17606',
       'PC 17607', 'PC 17608', 'PC 17609', 'PC 17610', 'PC 17611',
       'PC 17612', 'PC 17613', 'PC 17754', 'PC 17755', 'PC 17756',
       'PC 17757', 'PC 17758', 'PC 17759', 'PC 17760', 'PC 17761',
       'PP 4348', 'PP 9549', 'S.C./A.4. 23567', 'S.C./PARIS 2079',
       'S.O./P.P. 2', 'S.O./P.P. 251', 'S.O./P.P. 3', 'S.O./P.P. 751',
       'S.O./P.P. 752', 'S.O.C. 14879', 'S.O.P. 1166', 'S.P. 3464',
       'S.W./PP 752', 'SC 14888', 'SC 1748', 'SC/A.3 2861', 'SC/A4 23568',
       'SC/AH 29037', 'SC/AH 3085', 'SC/AH Basle 541', 'SC/PARIS 2131',
       'SC/PARIS 2133', 'SC/PARIS 2146', 'SC/PARIS 2147', 'SC/PARIS 2148',
       'SC/PARIS 2149', 'SC/PARIS 2159', 'SC/PARIS 2166', 'SC/PARIS 2167',
       'SC/PARIS 2168', 'SC/Paris 2123', 'SC/Paris 2163', 'SCO/W 1585',
       'SO/C 14885', 'SOTON/O.Q. 3101262', 'SOTON/O.Q. 3101263',
       'SOTON/O.Q. 3101305', 'SOTON/O.Q. 3101306', 'SOTON/O.Q. 3101307',
       'SOTON/O.Q. 3101308', 'SOTON/O.Q. 3101309', 'SOTON/O.Q. 3101310',
       'SOTON/O.Q. 3101311', 'SOTON/O.Q. 3101312', 'SOTON/O.Q. 3101314',
       'SOTON/O.Q. 3101315', 'SOTON/O.Q. 392078', 'SOTON/O.Q. 392087',
       'SOTON/O2 3101272', 'SOTON/O2 3101284', 'SOTON/O2 3101287',
       'SOTON/OQ 3101316', 'SOTON/OQ 3101317', 'SOTON/OQ 392076',
       'SOTON/OQ 392082', 'SOTON/OQ 392083', 'SOTON/OQ 392086',
       'SOTON/OQ 392089', 'SOTON/OQ 392090', 'STON/O 2. 3101268',
       'STON/O 2. 3101269', 'STON/O 2. 3101273', 'STON/O 2. 3101274',
       'STON/O 2. 3101275', 'STON/O 2. 3101280', 'STON/O 2. 3101285',
       'STON/O 2. 3101286', 'STON/O 2. 3101288', 'STON/O 2. 3101289',
       'STON/O 2. 3101291', 'STON/O 2. 3101292', 'STON/O 2. 3101293',
       'STON/O 2. 3101294', 'STON/O2. 3101270', 'STON/O2. 3101271',
       'STON/O2. 3101279', 'STON/O2. 3101282', 'STON/O2. 3101283',
       'STON/O2. 3101290', 'STON/OQ. 369943', 'SW/PP 751', 'W./C. 14258',
       'W./C. 14260', 'W./C. 14263', 'W./C. 14266', 'W./C. 6607',
       'W./C. 6608', 'W./C. 6609', 'W.E.P. 5734', 'W/C 14208',
       'WE/P 5735'], dtype=object)

作業2
思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [ ]:
# Boolean is common in dataset.
# Object type is the most complicated. It can be string or float at the same time.